<%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="w-[70vw] h-[65vh] bg-zinc-300 m-auto mt-10 rounded text-center">
    <h1 class="text-[70px] font-extrabold pt-20 text-zinc-500">Welcome to Homepage </h1>

    <p class="mt-10 text-white">
        <a href="/login" class="bg-zinc-500 py-2 px-4 rounded mr-4 hover:bg-zinc-600">Continue Surfing</a>

        <a href="/login" class="bg-zinc-500 py-2 px-4 rounded mr-4 hover:bg-zinc-600">Start your journey today </a>
        
    </p>

</div>

<%- include('partials/footer')%>
   
  
