<%- include('partials/header')%> <%- include('partials/nav')%>

    <div class="w-[85vw] m-auto mt-10 rounded flex gap-10 flex-wrap">
      <!-- <h1 class="text-[70px] font-extrabold text-zinc-500">This is Profile Page</h1> -->

      <div class="bg-zinc-200 p-2 w-[320px] flex flex-col items-center justify-center">

        <div class="w-[250px] card flex items-center justify-start gap-2">

          <img
            src="https://images.unsplash.com/photo-1714579325129-f3aa2b42699f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEyfHRvd0paRnNrcEdnfHxlbnwwfHx8fHw%3D"
            alt="" class="h-[100px] w-[100px] object-cover rounded-full" />

          <div>
            <p>name</p>
            <p>date-time</p>
          </div>

        </div>


        <div class="bg-zinc-600 h-[300px] w-[250px] mt-2">
          <img
            src="https://images.unsplash.com/photo-1714579325129-f3aa2b42699f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEyfHRvd0paRnNrcEdnfHxlbnwwfHx8fHw%3D"
            alt="" class="h-[100%] w-[100%] object-cover" />
        </div>

        <div class="text-[27px] h-10 w-[250px]">
          <i class="fa-regular fa-heart ml-2"></i>
          <i class="fa-regular fa-comment ml-2"></i>
        </div>

      </div>

      
    </div>

    <%- include('partials/footer')%>