
<%- include('partials/header')%>
<%- include('partials/nav')%>

<h1 class="text-[30px] text-center font-bold  mt-10">REGISTER USER</h1>

<div class="w-[30vw] h-[70vh] bg-zinc-300 m-auto  rounded text-center  ">

    

    <form action="/register-user" method="post" class="m-auto">

        <input type="text" placeholder="fullname" name="fullname" class="rounded w-[25vw] py-1 border-2 border-zinc-400 px-6 mt-8" >

        <input type="text" placeholder="username" name="username" class="rounded w-[25vw] py-1 border-2 border-zinc-400 px-6 mt-8" >

        <input type="email" placeholder="example@email" name="email" class="rounded w-[25vw] py-1 border-2 border-zinc-400 px-6 mt-8" >


    <input type="password" placeholder="*********" name="password" class="rounded w-[25vw] py-1 border-2 border-zinc-400 px-6 mt-8" >

    

    <button class=" w-[15vw] py-2 bg-zinc-500 rounded text-white hover:bg-zinc-600 my-8 ">register-user</button>


    </form>
   

</div>

<%- include('partials/footer')%>
   
  